 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
     max-width: 1980; 
}
body{
    overflow-x: hidden; 
    background-color:#f3f3f3
  }

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;
}

h1 {
    text-align: center;
}

.caption {
    font-size: small;
    font-style: italic;
    padding-top: 10px;
}

.overall p {
    text-align: center;
}

.overall {
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.rowPrototypes {
    align-items: center;
    display: flex;
    gap: 5%;
    margin-left: 1.5%;
    padding-top: 20px
}

.colPrototypes {
    flex: 50%;
    text-align: center;
    padding: 5px;
}

.title {
    font-size: xx-large;
    padding-bottom: 25px;
}

.header {
    max-width: 1800px;
	margin: auto;
	background-size: cover;
	background-position: center;
}

.description {
    text-align: start;
    font-size: large;
    padding-top: 25px;
}

.prototypeGroup {
    padding-bottom: 60px;
}

.footer {
    background-color: #484848;
    height: 80px;
    padding-top: 10px;
}
  
.footer p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-left: 40%;
}
