#solutionSection{
    background: rgb(255, 255, 255);
    height: 100vh; 
    background-size: cover;
    background-position: top;
}
.divSolution{
    margin: 3% 10%;
}

.solutionP{
    margin: 5% 10% 7%;
    font-size: x-large;
}